.blog-wrapper {
  padding: 7em 0;

  h1 {
    @extend .page-title;
    @extend .pink-highlight;
  }

  h2 {
    @extend .page-heading;
  }

  p, ol, ul {
    @extend .description;
  }

  .page-box.right {
    width: 100%;
    padding-top: 4.5em;
    @include media-query($on-palm) {
      padding: inherit;
    }
    h2, p {
      margin: 0 auto;
    }
  }

}
