.contributing-wrapper {
  padding: 7em 0;
  .description {
    padding: 0.5em 0;
  }
  #description--main {
    @extend .description;
    font-weight: 600;
    font-size: 1.2em;
    padding: 1em 0 0;
  }
}