/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 65px;
    background-color: $js-yellow;
    z-index: 1;

    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 100%;

    //Notify browser that this element might need its own layer in future
    will-change: transform;
}

.site-title {
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding-left: 65px;
    padding-top: 6px;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: 2.5em;
    float: left;
    color: black;

    &,
    &:visited {
        color: black;
    }
    &:hover {
        text-decoration: none;
    }
}

.site-logo {
  position: absolute;
  top: -8px;
  left: 12px;
  height: 70px;
}

.site-nav {
    float: right;
    line-height: 65px;
    margin-top: 3px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        font-family: $base-font-family;
        color: $grey-color-dark;
        font-size: 1.3em;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/* GENERAL STYLES */
.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-bottom {
  align-self: flex-end;
}

.align-items {
  display: flex;
  justify-content: space-between;
}

.pink-highlight {
  color: $grey-color-dark;
  background-color: $pink-color;
  display: inline;
}

.description {
  font-family: $sans-font-family;
  color: $grey-color-dark;
  font-size: $base-font-size;
}

.description img {
  margin-top: 5px;
  border: 1px solid $grey-color-dark;
}

/**
 * Site header
 */

.headline {
  padding-top: 100px;
  font-size: 3em;
  line-height: 1.5em;
  color: $red-color;
  text-align: center;
  width: 100%;
}

/**
 * Site footer
 * */

.site-footer {
  padding: 20px;
  background-color: $grey-color-light;
  width: 100%;
  height: 100%;
}

/**
 * Page content
 */

.page-item {
  padding: $spacing-unit 0;
}

.page-content {
  padding: 25px 0;
}

.page-box {
  padding: 0.5em;
  margin-left: 0.5em;

  &:first-child {
    margin: 0 0.5em 0 0;
  }

  @include media-query($on-palm) {
    margin: 0.5em 0;
    width: inherit;
    &:first-child {
      margin: 0.5em 0;
    }
  }

}

.page-box-half {
  @extend .page-box;
  width: 50%;
}

.page-box-full {
  @extend .page-box;
  width: 100%;
}

.page-heading {
  font-weight: $base-font-weight;
  font-size: 2em;
  padding-bottom: 10px;
}

.page-title {
  font-weight: $base-font-weight;
  color: $red-color;
  font-size: 2.5em;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-url {
  color: $grey-color-dark;
  &:visited {
    color: $grey-color-dark;
  }
}

.post-list {
  list-style-type: none;
}

.date {
  font-size: 0.9em;
}

.post-header {
    padding-top: 2em;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
