:root {
  --nav-item-padding: 0.5rem;
}

.header {
  color: #111;
  background: #f7dc00;
  margin: 0 0 1rem;
}

.nav {
  @media (width >= 70rem) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  max-width: calc(70rem + (var(--nav-item-padding) * 2));
  margin: 0 auto;
  padding: 0 1rem;
  line-height: 3rem;
}

.navPart1,
.navPart2 {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.logoText {
  font-size: 2rem;
}

.link {
  display: flex;
  padding: 0 var(--nav-item-padding);
  color: inherit;
  text-decoration: none;
}

.link svg {
  fill: currentColor;
  opacity: 0.5;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
