.footer {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  background: #dcdcdc;
}

.phenomicReference {
  font-size: 0.75rem;
  opacity: 0.4;
  color: inherit;
  text-decoration: none;
}

.phenomicReferenceName {
  font-weight: 100;
}
